*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.ch__header .running{
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 0px;
}

.logo-wrap{
    margin:0px 10px;
}

.menu-wrap .right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.menu-item{
    margin: 0px 5px;
}

.menu-item .page{
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

.menu-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
}

.ch__header .mainsearch{
    position: absolute;
    width: 30vw;
    height: 45px;
    top: 50%;
    left: 50%;
    border: none;
    background-color: rgb(226, 247, 254);
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    transform: translate(-50%,-50%);
}